@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 15%, rgba(0, 212, 255, 1) 100%);
    width: 100vw;
    height: 200vh;
    justify-content: center;
    align-items: center;
    font-family: 'Varela Round', sans-serif;
}

h1 {
    color: blanchedalmond;
    font-size: 5vw;
}

form {
    display: flex;
    background-color: blanchedalmond;
    flex-direction: column;
    align-items: center;
    border: none;
    padding-left: 5vw;
    padding-right: 5vw;
    border-radius: 4vw;
    -webkit-box-shadow: -7px 5px 20px 13px rgba(30, 60, 82, 0.55);
    box-shadow: -7px 5px 20px 13px rgba(30, 60, 82, 0.55);
}

label,
input,
select {
    margin: 1.5vw;
}